/* utitlitys */

.debug{
  background-color: rgba(214, 83, 83, 0.555);
  border: 1px solid black;
}


/* /utitlitys */

/* GENERAL */

body{
  font-family: 'Raleway', sans-serif;
}

p.sd-title{
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: 3rem;
}

p.sd-title-dark{
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  font-size: 3rem;
}


.sd-container70{
  width: 70%;
  margin: 0 auto;
}

/* /GENERAL */


header{
  height: 80px;
  /* position: fixed;
  top: 0;
  z-index: 999; */
  color: white;
  background-color: #2c3e50;
}


/* JUMBOTRON */

.sd-jumbotron{
  padding: 75px 0;
  background-color: #1abc9c;
}

.sd-container50{
  width: 50%;
  margin: 0 auto;
}

.sd-jumbotron .sd-container50{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sd-jumbotron .sd-container50 img{
  width: 45%;
}

.sd-jumbotron .sd-container50 span{
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  text-transform: uppercase;
  margin: 0 4px;
}

/* MAIN */

/* portfolio */

.sd-portfolio{
  padding: 60px 0;
}

.sd-card{
  border-radius: 17px;
  overflow: hidden;
  /* border: 1px solid ; */
}

.sd-card img{
  width: 100%;
}

.sd-col{
  margin-bottom: 20px;
}

/* about */

.sd-about{
  padding: 60px 0 30px 0;
  background-color: #1abc9c;
  color: white;
}

.sd-btn-download{
  color: white;
  border-color: white;
}

.sd-btn-download:hover{
  color: #2c3e4f;
  background-color: white;
}

/* contact */

.sd-contact-form{
  padding: 60px 0;
}

.sd-form-item{
  border-bottom: 1px solid #afabab;
  color: #364758;
  border-radius: 0;
}

.sd-btn-send{
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.sd-btn-send:hover{
  background-color: #1f826c;
  border-color: #1f826c;
}

/* FOOTER */

footer{
  color: white;
  
}

footer .top{
  background-color: #3a546d;
  padding: 40px 0;
}

footer .bottom{
  background-color: #2c3e50;
  font-size: 0.8rem;
}

.sd-footer-title{
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

footer .top .sd-subtitle{
  font-size: 0.9rem;
  font-weight: bold;
}

footer .top .center .bord-i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: 1px solid white;
  border-radius: 50%;
}

.link-cta-footer{
  text-decoration: none;
  color: #1abc9c;
}

.link-cta-footer:hover{
  color: #9ff7e5;
}

/* media query */



