/* utitlitys */

.debug{
  background-color: rgba(214, 83, 83, 0.555);
  border: 1px solid black;
}


/* /utitlitys */

/* GENERAL */

body{
  font-family: 'Raleway', sans-serif;
}

p.sd-title{
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: 3rem;
}

p.sd-title-dark{
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  font-size: 3rem;
}


.sd-container70{
  width: 70%;
  margin: 0 auto;
}

/* HEADER */

header{
  height: 80px;
  /* position: fixed;
  top: 0;
  z-index: 999; */
  color: white;
  background-color: #2c3e50;
}

.sd-nav-title{
  text-transform: uppercase;
}

.sd-navbar-toggler{
  border: 2px solid #dddddd;
  color: #888888;
  border-color: #dddddd;
}


/* JUMBOTRON */

.sd-jumbotron{
  padding: 75px 0;
  background-color: #1abc9c;
}

.sd-container65{
  width: 65%;
  margin: 0 auto;
}

.sd-jumbotron .sd-container65{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sd-jumbotron .sd-container65 img{
  width: 45%;
}

.sd-jumbotron .sd-container65 span{
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  text-transform: uppercase;
  margin: 0 4px;
}

/* star */

.sd-jumbotron .star-container{
width: 41%;
justify-content: space-between;
align-items: center;
}

.sd-jumbotron .star-container .line-star{
  height: 5px;
  width: 40%;
  border-radius: 5px;
}

.sd-jumbotron .star-container .line-star,
main .sd-about .star-container .line-star{
  height: 5px;
  width: 40%;
  border-radius: 5px;
  background-color: white;
}

.sd-jumbotron .star-container .fa-star,
main .sd-about .star-container .fa-star{
  font-size: 1.45rem;
  color: white;
}

.sd-jumbotron .star-container .line-star{
  height: 5px;
  width: 40%;
  border-radius: 5px;
  background-color: #2c3e50;
}

.sd-jumbotron .star-container .fa-star{
  font-size: 1.45rem;
  color: #2c3e50;
}


/* MAIN */

/* portfolio */

.sd-portfolio{
  padding: 60px 0;
}

main .sd-portfolio .sd-card{
  border-radius: 17px;
  overflow: hidden;
}

.sd-card img{
  width: 100%;
}

.sd-col{
  margin-bottom: 20px;
}

/* layover */

.sd-card .sd-layover{
  background-color: rgba(26, 188, 156, 0.6);
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
}

.sd-card .sd-layover i{
  color: white;
  font-size: 5rem;
}

.sd-card:hover .sd-layover{
  display: flex;
}


/* about */

.sd-about{
  padding: 60px 0 30px 0;
  background-color: #1abc9c;
  color: white;
}

.sd-btn-download{
  color: white;
  border-color: white;
}

.sd-btn-download:hover{
  color: #2c3e4f;
  background-color: white;
}

/* contact */

.sd-contact-form{
  padding: 60px 0;
}

.sd-form-item{
  border-bottom: 1px solid #afabab;
  color: #364758;
  border-radius: 0;
}

.sd-btn-send{
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.sd-btn-send:hover{
  background-color: #1f826c;
  border-color: #1f826c;
}

/* FOOTER */

footer{
  color: white;
  
}

footer .top{
  background-color: #3a546d;
  padding: 40px 0;
}

footer .bottom{
  background-color: #2c3e50;
  font-size: 0.8rem;
}

.sd-footer-title{
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

footer .top .sd-subtitle{
  font-size: 0.9rem;
  font-weight: bold;
}

footer .top .center .bord-i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: 1px solid white;
  border-radius: 50%;
}

footer .top .center .bord-i a{
  color: white;
}

.link-cta-footer{
  text-decoration: none;
  color: #1abc9c;
}

.link-cta-footer:hover{
  color: #9ff7e5;
}

/* media query */

@media screen and (min-width: 992px){
  .sd-container65{
    max-width: 880px;
  }

}

@media screen and (max-width: 992px){

  .sd-container65{
    width: 90%;
  }

  .sd-jumbotron .sd-container65 img{
    width: 30%;
  }

  .sd-jumbotron .star-container{
    width: 320px;
  }

}


@media screen and (max-width: 768px){

  .sd-jumbotron .star-container{
    width: 306px;
  }

  .sd-jumbotron .star-container .fa-star{
    font-size: 1.2rem;
    
  }


  .sd-jumbotron{
    padding: 30px 0;
  }

  .sd-jumbotron .sd-container65 img{
    width: 45%;
  }

  .sd-jumbotron .sd-container65 .sd-title{
    font-size: 2.8rem;
  }

  .sd-portfolio .sd-title-dark,
  .sd-about .sd-title,
  .sd-contact-form .sd-title-dark{
    font-size: 2.6rem;
  }

  footer .bottom .left, .center , .right{
    margin-bottom: 20px;
  }

  footer .bottom .sd-title, .sd-subtitle{
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 576px){
  .sd-jumbotron .sd-container65 .sd-title{
    font-size: 2.6rem;
    margin: 0;
  }

  .sd-jumbotron .sd-container65 span{
    font-size: 1rem;
  }

  .sd-jumbotron .star-container{
    width: 245px;
  }

  
}










