
[class^="col"]{
  background-color: rgba(95, 158, 160, .2);
  border: 1px solid black;
  min-height: 10vh;
}

.debug{
  background-color: rgba(214, 83, 83, 0.555);
  border: 1px solid black;
}

header{
  height: 80px;
}

.sd-container70{
  width: 70%;
  margin: 0 auto;
}

.sd-jumbotron{
  min-height: 50vh;
}

.sd-portfolio{
  min-height: 50vh;
}

.sd-about{
  min-height: 50vh;
}

.sd-contact-form{
  min-height: 50vh;
}

footer ._top{
  min-height: 25vh;
}

footer ._bottom{
  min-height: 12vh;
}
